/*
 * Visual Studio 2019 dark style
 * Author: Nicolas LLOBERA <nicolas@bananeatomic.fr>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A; /* green */
  font-style: italic;
}
.hljs-doctag {
  color: darkolivegreen;
}

.hljs-keyword,
.hljs-literal { 
  color: #569CD6; /* blue */
}
.hljs-link {
  color: #569CD6; /* blue */
  text-decoration: underline;
}

.hljs-symbol {
  color: #D8A0DF; /* violet */
}

.hljs-number {
  color: #B5CEA8; /* pale green */
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85; /* pale orange */
}

.hljs-subst {
  color: #DCDCDC; /* reset */
}

.hljs-variable,
.hljs-template-variable,
.hljs-name,
.hljs-builtin-name,
.hljs-params,
.hljs-formula {
  color: #9CDCFE; /* light blue */
}

.hljs-attr,
.hljs-attribute {
  color: #92CAF4; /* light blue */
}

.hljs-function {
  color: #DCDCAA; /* pale yellow */
}

.hljs-class,
.hljs-built_in,
.hljs-type,
.hljs-title {
  color: #4EC9B0; /* green */
}

.hljs-type {
  color: #B8D7A3; /* light green */
}

.hljs-meta,
.hljs-tag {
  color: #9B9B9B; /* dark grey */
}
.hljs-meta-keyword {
  color: #DCDCDC; /* reset */
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334; /* dark red */
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D; /* yellow */
}

.hljs-addition {
  background-color: #144212; /* dark green */
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600; /* dark red */
  display: inline-block;
  width: 100%;
}

/* tsql class */
.hljs-tsql-literal {
  color: #9B9B9B; /* dark grey */
}

.hljs-tsql-symbol {
  color: #DCDCDC; /* white */
}

.hljs-tsql-string {
  color: #CB4141; /* red */
}

.hljs-tsql-built_in {
  color: #C975D5; /* violet */
}

.hljs-tsql-sp {
  color: #B3725B; /* dark orange */
}
