/*
 * Visual Studio Code - Dark+ color theme
 * Author: Nicolas LLOBERA <nicolas@bananeatomic.fr>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #D4D4D4;
}

.hljs-keyword,
.hljs-literal,
.hljs-doctag {
  color: #569CD6;
}

.hljs-statement {
  color: #C586C0;
}

.hljs-doctag-outer {
  color: #808079;
}

.hljs-commonclass,
.hljs-doctag-param-name,
.hljs-method-param-name,
.hljs-var {
  color: #9CDCFE;
}

.hljs-namespace,
.hljs-class,
.hljs-interface {
  color: #4EC9B0;
}

.hljs-comment,
.hljs-quote {
  color: #6A9955;
}

.hljs-method-name {
  color: #DCDCAA;
}














.hljs-title,
.hljs-meta,
.hljs-common_static_class {
  color: #4EC9B0;
}



.hljs-string,
.hljs-meta-string {
  color: #CE9178;
}

.hljs-subst {
  color: #9CDCFE;
}

.hljs-number {
  color: #B5CEA8;
}


